/* define color variables for easy tracking */
:root {
    --primary: #8f502c;
    --secondary: #13141b;
    --pop: #d4d3df;
}

/* remove default CSS styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styling for all body  */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

/* header starts here */
header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header div {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--pop);
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background: var(--pop);
    color: var(--primary);
    border-radius: 15px;
}

/* header ends here */


/* hero styling starts here */
.hero {
    background-image: url("../images/background.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 300px;
}

.hero .quote {
    font-size: 35px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: rgb(237, 243, 245);
}

.hero .quote #quote-text {
    font-size: 48px;
}
/* hero styling ends here */

/* utility class styling starts here */
.title {
    border-right: 5px solid var(--pop);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 48px;
}

/* utility class styling ends here */

/* about me section styling starts here */
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.about-me p {
    font-size: 20px;
    padding: 10px 30px;
    line-height: 1.8;
    width: 100%;
}
/* about me section styling ends here */

/* my work section styling starts here */
.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.my-work h2 {
    color: var(--secondary);
}

.projects-grid-wrapper {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: rgb(241, 224, 224);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
    opacity: 1.0;
}

.code-refractor{
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../images/html-css.png");
}

.code-refractor:hover{
   
    color: #fff;
}
.project-portfolio {
    background-image: url("../images/html-css1.jpg");
    background-position: 50% 15%;
}

.project3 {
    background-image: url("../images/stagelights.jpg");
    background-position: 60% 50%;
}

.poject4 {
    background-image: url("../images/ruins.jpg");
}

.project5 {
    background-image: url("../images/canyon.jpg");
}

.project-label {
    background-color: lightgray;;
    color: var(--primary);
    padding: 10px;
}
/* my work section styling ends here */

/* contact me section styling starts here */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-list {
    width: 60%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}

footer ul li {
    /*padding-bottom: 15px;*/
    font-weight: bold;

}

footer ul li a {
    text-decoration: none;
    color: var(--primary);
    padding: 8px;
    font-weight: bold;
}

footer ul li a:hover {
    background: var(--pop);
    color: var(--secondary);
    border-radius: 15px;
}
/* contact me section styling ends here */

/* media query for tablets phone screens */
@media screen and (max-width: 768px) {
    .hero .quote {
        font-size: 28px;
        padding-right: 20px;
    }
    
    .hero .quote #quote-text {
        font-size: 35px;
    }

    .title h2 {
        font-size: 35px;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.6;
    }
}

/* media query for mobile phone screens */
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 80px;
    }

    .hero {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
    }

    .title {
        border-bottom: 5px solid var(--pop);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
        padding: 15px;
    }

    .my-work {
        flex-direction: column;
        padding: 30px 0;
    }

    .projects-grid-wrapper {
        width: 100%;
        padding: 10px;
    }
    
    .projects-grid {
        width: 80%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
    
}
